/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
display: flex;
flex-direction: column;
align-items: center;
font-family: 'Source Sans Pro', sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/
header {
  padding: 2vh 0 2vh 10vw;
  width: 100vw;
  border-bottom: 1px solid #369d7e;
  align-self: start;
}

section {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
}
section *{
  margin: 3vh;
}
input, select {
  border: 1px solid rgba(54, 157, 126, 0.35);
  border-radius: 25px;
  background-color: #369d7e;
  color: white;
  height: 5vh;
  text-align: center;
}
input::placeholder, select {
  text-align: center;
}
button {
  height: 5vh;
  min-width: 7vw;
  margin: 10vh;
  font-weight: 700;
  border: 1px solid rgba(54, 157, 126, 0.35);
  border-radius: 25px;
  background-color: #369d7e;
  color: white;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
